<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!-- 配置生成器 -->
<generatorConfiguration>
    <properties resource="properties/db.properties"/>

    <classPathEntry
            location="/home/liucan/.m2/repository/mysql/mysql-connector-java/6.0.6/mysql-connector-java-6.0.6.jar"/>

    <context id="MyBatis" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="false"/>
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- 生成注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="false"/>
        </commentGenerator>

        <jdbcConnection
                driverClass="${java-learn.driver}"
                connectionURL="${java-learn.url}"
                userId="${java-learn.username}"
                password="${java-learn.password}">
        </jdbcConnection>


        <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer，为 true时把JDBC DECIMAL 和
            NUMERIC 类型解析为java.math.BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
            <!-- This property is used to specify whether MyBatis Generator should force the use of JSR-310 data types for DATE, TIME,
            and TIMESTAMP fields, rather than using java.util.Date -->
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>


        <!--生成mode-->
        <javaModelGenerator targetPackage="com.liucan.boot.persist.mybatis.mode"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--&lt;!&ndash;生成mapper&ndash;&gt;-->
        <!--<sqlMapGenerator targetPackage="mapper.javalearn" targetProject="src/main/resources">-->
        <!--<property name="enableSubPackages" value="false"/>-->
        <!--</sqlMapGenerator>-->

        <!--&lt;!&ndash;生成doa&ndash;&gt;-->
        <!--<javaClientGenerator targetPackage="com.liucan.boot.persist.mybatis.javalearn.dao" type="XMLMAPPER"-->
        <!--targetProject="src/main/java">-->
        <!--<property name="enableSubPackages" value="false"/>-->
        <!--</javaClientGenerator>-->

        <!--生成的表-->
        <table tableName="logging_event" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
        </table>
        <table tableName="logging_event_exception" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
        </table>
        <table tableName="logging_event_property" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>