<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucan.boot.persist.mybatis.mapper.UserOrderMapper">
    <select id="selectPageVo" resultType="com.liucan.boot.persist.mybatis.mode.UserOrder">
        select * from user_order where pay_type=#{payType}
    </select>
</mapper>